[Unit]
Description=PointerPW

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/pointerpw -grpc=localhost:8081 -rest=localhost:8082

[Install]
WantedBy=multi-user.target